.heading{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:50px ;
    font-weight: bold;
    text-align: center;
}

.subheading{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:30px ;
    text-align: center;
}

.button{
    border: 2px;
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 300px;
    margin: 5px;
}

.button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.button:active{
    transform: scale(0.95);
}


.but{
      text-align: center;
}

#red{
    background-color: rgb(178, 0, 0);
}

#blue{
    background-color: rgb(33, 8, 189);
}
#pink{
    background-color: rgb(205, 20, 91);
}
#gold{
    background-color: rgb(225, 164, 9);
}
#purple{
    background-color: rgb(89, 2, 113);
}